{% extends 'DvdWorldWebsiteBundle:Default:movies_by_genre.html.twig' %}

{% block title %}Brak rezultatów wyszukiwania{% endblock %}
{% block movieBlock %}
   <font color="red"><h4 align="center" >Brak rezultatów wyszukiwania</h4></font>
{% endblock %}